*.code-workspace
*.pdf
.DS_Store
a.out
arguments
array
break
calc
compareStrings
doWhile
enum
fgets
fopen
for
fprintf
fseek
funct
globalvar
hw
if
info.plist
input
myprog
pf
pointer
pointerFunct
scanf
setString
sscanf
strcmo
String
stringLib
strlen
switch
vars
voidPointer
while
bubbleSort
passArrayToFunction
leapYear
dmy
pallindrome