*.code-workspace
*.pdf
.DS_Store
arguments
array
break
calc
compareStrings
doWhile
enum
fgets
fopen
for
fprintf
fseek
funct
globalvar
hw
if
myprog
pf
pointer
pointerFunct
scanf
setString
strcmo
String
stringLib
strlen
switch
vars
voidPointer
while